<!DOCTYPE html>
{% load static i18n %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
</head>
<style>
    .header-info {
        display: flex;
        align-items: center;
    }

    .user-profile {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--gray-dark);
        margin-right: 20px;
    }

    .user-avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .task-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: var(--border-radius);
        background-color: var(--gray-light);
        box-shadow: var(--box-shadow);
        transition: background-color 0.3s;
    }

    .task-item input[type="checkbox"] {
        margin-right: 5px;
        cursor: pointer;
    }

</style>
<body>
<div class="container">
    <header>
        <div class="header-info">
            <a href="{% url 'my_auth:profile' pk=user.pk %}" class="user-profile">
                <div class="avatar-container">

                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt="Аватар" id="userAvatar"
                             class="user-avatar">
                    {% else %}
                        <img src="{% static 'images/default_avatar.png' %}" alt="Аватар" id="userAvatar"
                             class="user-avatar">
                    {% endif %}
                </div>
                <span id="username">{{ user.username }}</span>
            </a>
            <span id="dateDisplay"></span>
            <span id="taskCount" style="margin-left: 20px;">{% trans "Невыполненные задачи:" %} <span
                    id="incompleteCount">0</span></span>
            <form method="post" action="{% url 'my_auth:logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="small-button">{% trans "Выйти" %}</button>
            </form>
        </div>

        <div class="header-buttons">
            <button class="settings" id="settingsBtn">{% trans "Настройки" %}</button>
            <button class="large-button" id="addTaskButton">{% trans "Добавить задачу" %}</button>
        </div>
    </header>


    <!-- Модальное окно для добавления задачи -->
    <div id="modal" class="modal" style="display: none;">
        <div class="modal-content_task">
            <span class="close" id="closeModal">&times;</span>
            <h2>{% trans "Добавить новую задачу" %}</h2>
            <form id="taskForm" novalidate>
                {% csrf_token %}
                <input type="text" id="taskInput" placeholder="{% trans "Введите название задачи" %}" required>
                <textarea id="taskDescription" placeholder="{% trans "Введите описание задачи" %}"></textarea>
                <button id="confirmAddTask" type="submit">{% trans "Добавить" %}</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для настроек -->
    <div id="settingsModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" id="closeSettingsModal">&times;</span>
            <h2>{% trans "Настройки" %}</h2>
            <form id="settingsForm" novalidate>
                <div class="form-group">
                    <label for="fontSelect">{% trans "Шрифт:" %}</label>
                    <select id="fontSelect">
                        <option value="Arial">Arial</option>
                        <option value="Courier New">Courier New</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Verdana">Verdana</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="fontSizeSelect">{% trans "Размер шрифта:" %}</label>
                    <select id="fontSizeSelect">
                        <option value="14">14px</option>
                        <option value="16" selected>16px</option>
                        <option value="18">18px</option>
                        <option value="20">20px</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox" id="showCompletedTasks" checked>
                        {% trans "Отображать выполненные задачи" %}
                    </label>
                </div>

                <div class="form-group">
                    <label for="backgroundSelect">{% trans "Фон" %}:</label>
                    <select id="backgroundSelect">
                        <option value="default">{% trans "По умолчанию" %}</option>
                        <option value="background1">{% trans "Фон 1" %}</option>
                        <option value="background2">{% trans "Фон 2" %}</option>
                        <option value="background3">{% trans "Фон 3" %}</option>
                        <option value="custom">{% trans "Пользовательский фон" %}</option>
                    </select>
                </div>
                <div class="form-group" id="customBackgroundGroup" style="display: none;">
                    <label for="customBackgroundInput" class="file-input-label">{% trans "Загрузить свой фон" %}:</label>
                    <input type="file" id="customBackgroundInput" accept="image/*" class="file-input">
                </div>
                <div class="form-group">
                    <label for="deleteFrequencySelect">{% trans "Частота удаления выполненных задач" %}:</label>
                    <select id="deleteFrequencySelect">
                        <option value="never">{% trans "Никогда" %}</option>
                        <option value="minute">{% trans "Раз в минуту" %}</option>
                        <option value="hour">{% trans "Раз в час" %}</option>
                        <option value="day">{% trans "Раз в день" %}</option>
                        <option value="week">{% trans "Раз в неделю" %}</option>
                        <option value="month">{% trans "Раз в месяц" %}</option>
                    </select>
                </div>

                <button type="submit" id="saveSettingsButton">{% trans "Сохранить настройки" %}</button>
            </form>
        </div>
    </div>


    <main>
        <section>
            <h2>{% trans "Невыполненные задачи" %}</h2>
            <ul class="task-list" id="taskList">
                {% for task in task_list %}
                    {% if not task.complete %}
                        <li class="task-item" data-task-id="{{ task.id }}">
                            <input type="checkbox" id="task{{ task.id }}">
                            <label for="task{{ task.id }}">{{ task.name }}</label>
                            <span class="task-details">
                                <span>{{ task.description }}</span>
                            </span>
                            <button class="delete-task" aria-label="{% trans "Удалить задачу" %}">🗑️</button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>
                {% trans "Выполненные задачи" %}
                <button id="toggleCompletedList" aria-label="{% trans "Развернуть список выполненных задач" %}">{% trans "Развернуть" %}</button>
            </h2>
            <ul class="completed-list" id="completedList">
                {% for task in task_list %}
                    {% if task.complete %}
                        <li class="completed-item" data-task-id="{{ task.id }}">
                            <span class="completed-label">{{ task.name }}</span>
                            <span class="completed-label">{{ task.description }}</span>
                            <button class="delete-task" aria-label="{% trans "Удалить задачу" %}">🗑️</button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </main>
</div>

<!-- Проверка согласия на использование cookies -->
{% if not user.profile.cookies_accepted %}
    <div class="cookie-banner" id="cookieBanner">
        <p>{% trans "Этот сайт использует cookies для улучшения пользовательского опыта." %}
            <button id="acceptCookiesButton">{% trans "Принять" %}</button>
        </p>
    </div>
{% endif %}



<script src="{% static 'js/scripts.js' %}"></script>

<script>

    document.getElementById('settingsForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем стандартное поведение формы

        const deleteFrequency = document.getElementById('deleteFrequencySelect').value;

        // Отправляем только частоту удаления задач на сервер
        fetch('/update-profile/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'), // Получите CSRF-токен
            },
            body: JSON.stringify({
                delete_frequency: deleteFrequency
            })
        })
            .then(response => {
                if (response.ok) {
                    
                    document.getElementById('settingsModal').style.display = 'none'; // Закрываем модальное окно
                } else {
                    alert('Произошла ошибка при обновлении частоты удаления задач.');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
    });

    
</script>
</body>
</html>

