<!DOCTYPE html>
{% load static i18n %}
<html lang="{{ current_language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Регистрация" %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/styles_reg.css' %}" type="text/css" media="all">

</head>
<body>
<div class="container">
    <header>
        <h1 style="color:#007bff; ">{% trans "Регистрация" %}</h1>
    </header>

    <main>
        <form id="registrationForm" method="post" novalidate>
            {% csrf_token %}
            {% trans "Имя" %}: {{ form.first_name }}  <!-- Обязательное поле -->
            {% trans "Имя пользователя" %}: {{ form.username }}  <!-- Обязательное поле -->
            <p class="error-message" id="username-error" style="display: none;"></p>
            <!-- Сообщение об ошибке для имени пользователя -->
            {% trans "Адрес электронной почты:" %} {{ form.email }}  <!-- Обязательное поле -->
            <p class="error-message" id="email-error" style="display: none;"></p> <!-- Сообщение об ошибке для email -->
            {% trans "Пароль" %}: <input type="password" id="id_password" name="password" required>
            {% trans "Подтвердите пароль:" %} <input type="password" id="id_confirm_password"
                                                     name="confirm_password" required>
            <span class="show-password" id="togglePassword"
                  style="text-decoration: underline; cursor: pointer;">{% trans "Показать пароль" %}</span>
            <!-- Кнопка для показа пароля -->

            <!-- Поле для подтверждения пароля -->

            <div class="flex-container">
                <input type="checkbox" id="licenseAgreement" name="agreement_accepted"
                       style="margin-top: 16px; margin-right: 6px" required>
                <label for="licenseAgreement">
                    {% trans "Я согласен с" %} <a href="#" id="openModal">{% trans "лицензионным соглашением" %}</a>
                </label>
            </div>
            <p class="error-message" id="error-message" style="display: none;"></p> <!-- Сообщение об ошибке -->

            <button type="submit" class="large-button">{% trans "Зарегистрироваться" %}</button>
        </form>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
</div>

<!-- Модальное окно -->
<div id="licenseModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        {% blocktranslate %}
            <h2>Лицензионное соглашение</h2>
            <h2>1. Общие положения</h2>
            <p>1.1. Настоящее лицензионное соглашение (далее – "Соглашение") регулирует условия использования приложения
                "To
                Do" (далее – "Приложение"), разработанного [Название компании] (далее – "Разработчик").</p>
            <p>1.2. Устанавливая и/или используя Приложение, пользователь (далее – "Пользователь") подтверждает свое
                согласие с условиями настоящего Соглашения.</p>

            <h2>2. Лицензия</h2>
            <p>2.1. Разработчик предоставляет Пользователю неисключительную, непередаваемую лицензию на использование
                Приложения в личных, некоммерческих целях.</p>
            <p>2.2. Пользователь имеет право:</p>
            <ul>
                <li>Использовать Приложение на своих устройствах.</li>
                <li>Создавать и редактировать списки задач.</li>
            </ul>
            <p>2.3. Пользователь не имеет права:</p>
            <ul>
                <li>Распространять, продавать или сдавать в аренду Приложение.</li>
                <li>Модифицировать, декомпилировать или разбирать Приложение.</li>
            </ul>

            <h2>3. Ответственность</h2>
            <p>3.1. Приложение предоставляется "как есть". Разработчик не несет ответственности за любые убытки,
                возникшие в
                результате использования или невозможности использования Приложения.</p>
            <p>3.2. Разработчик не гарантирует отсутствие ошибок в Приложении и его соответствие ожиданиям
                Пользователя.</p>

            <h2>4. Конфиденциальность</h2>
            <p>4.1. Разработчик обязуется не раскрывать личные данные Пользователя третьим лицам без его согласия, за
                исключением случаев, предусмотренных законодательством Российской Федерации.</p>

            <h2>5. Заключительные положения</h2>
            <p>5.1. Настоящее Соглашение вступает в силу с момента его <b>Принятия</b> Пользователем и действует до
                момента
                его
                расторжения.</p>
            <p>5.2. Разработчик имеет право вносить изменения в условия настоящего Соглашения, уведомляя об этом
                Пользователя.</p>
            <p>5.3. Все споры, возникающие из настоящего Соглашения, подлежат разрешению в соответствии с
                законодательством
                Российской Федерации.</p>
        {% endblocktranslate %}
        <div class="flex-container">
            <!-- Дополнительный контент, если необходимо -->
        </div>

        <button class="accept-button" id="acceptLicense">{% trans "Принимаю" %}</button>
    </div>
</div>

<script src="{% static 'js/scripts.js' %}"></script>

<script>

    // Объект с текстами для разных языков
    const translations = {
        en: {
            modalTitle: "License Agreement",
            accept: "Accept",
            close: "Close",
            usernameExists: "Username already exists.",
            emailExists: "Email already exists.",
            passwordComplexity: "Password must be at least 8 characters long, including uppercase letters, numbers, and special characters.",
            passwordsDoNotMatch: "Passwords do not match.",
            invalidEmail: "Please enter a valid email address.",
            licenseAgreement: "You must agree to the license agreement.",
            errorOccurred: "An error occurred. Please try again later.",
            showPassword: "Show Password",
            hidePassword: "Hide Password"
        },
        ru: {
            modalTitle: "Лицензионное соглашение",
            accept: "Принять",
            close: "Закрыть",
            usernameExists: "Пользователь с таким именем уже существует.",
            emailExists: "Пользователь с таким email уже существует.",
            passwordComplexity: "Пароль должен содержать минимум 8 символов, включая заглавные буквы, цифры и специальные символы.",
            passwordsDoNotMatch: "Пароли не совпадают.",
            invalidEmail: "Введите корректный e-mail адрес.",
            licenseAgreement: "Вы должны согласиться с лицензионным соглашением.",
            errorOccurred: "Произошла ошибка. Пожалуйста, попробуйте позже.",
            showPassword: "Показать пароль",
            hidePassword: "Скрыть пароль"
        }
    };

    // Установите язык по умолчанию
    const currentLanguage = '{{ current_language|default:"ru" }}';

    // Функция для получения перевода
    function translate(key) {
        return translations[currentLanguage][key] || key;
    }

    // Открытие и закрытие модального окна
    const licenseModal = document.getElementById("licenseModal");
    const openModalButton = document.getElementById("openModal");
    const closeModalButton = document.getElementsByClassName("close")[0];
    const acceptLicenseButton = document.getElementById("acceptLicense");

    openModalButton.onclick = function (event) {
        event.preventDefault(); // Предотвращаем переход по ссылке
        licenseModal.style.display = "block";
        document.getElementById("modalTitle").textContent = translate("modalTitle");
        acceptLicenseButton.textContent = translate("accept");
        closeModalButton.textContent = translate("close");
    }

    closeModalButton.onclick = function () {
        licenseModal.style.display = "none";
    }

    acceptLicenseButton.onclick = function () {
        licenseModal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target === licenseModal) {
            licenseModal.style.display = "none";
        }
    }

    // Проверка существования пользователя и других условий
    document.getElementById("registrationForm").onsubmit = function (event) {
        event.preventDefault(); // Предотвращаем отправку формы для проверки

        const usernameInput = document.getElementById("id_username").value;
        const passwordInput = document.getElementById("id_password").value;
        const confirmPasswordInput = document.getElementById("id_confirm_password").value;
        const emailInput = document.getElementById("id_email").value;
        const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d!@#$%^&*()_+]{8,}$/; // Обновлено для включения специальных символов
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const errorMessageElement = document.getElementById("error-message");
        const usernameErrorElement = document.getElementById("username-error");
        const emailErrorElement = document.getElementById("email-error");

        // Сброс сообщений об ошибках
        errorMessageElement.style.display = "none";
        usernameErrorElement.style.display = "none";
        emailErrorElement.style.display = "none";

        // Проверка существования имени пользователя
        fetch(`/check-username/?username=${encodeURIComponent(usernameInput)}`)
            .then(response => response.json())
            .then(data => {
                if (data.exists) {
                    usernameErrorElement.textContent = translate("usernameExists");
                    usernameErrorElement.style.display = "block";
                    return; // Прерываем выполнение
                }

                // Проверка существования email
                fetch(`/check-email/?email=${encodeURIComponent(emailInput)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            emailErrorElement.textContent = translate("emailExists");
                            emailErrorElement.style.display = "block";
                            return; // Прерываем выполнение
                        }
                        // Проверка сложности пароля
                        if (!passwordPattern.test(passwordInput)) {
                            errorMessageElement.textContent = translate("passwordComplexity");
                            errorMessageElement.style.display = "block";
                            return; // Отменяем отправку формы
                        }

                        // Проверка совпадения пароля и подтверждения пароля
                        if (passwordInput !== confirmPasswordInput) {
                            errorMessageElement.textContent = translate("passwordsDoNotMatch");
                            errorMessageElement.style.display = "block";
                            return; // Отменяем отправку формы
                        }

                        // Проверка корректности e-mail
                        if (!emailPattern.test(emailInput)) {
                            errorMessageElement.textContent = translate("invalidEmail");
                            errorMessageElement.style.display = "block";
                            return; // Отменяем отправку формы
                        }

                        // Проверка нажатия чекбокса согласия на лицензионное соглашение
                        const licenseCheckbox = document.getElementById("licenseAgreement");
                        if (!licenseCheckbox.checked) {
                            errorMessageElement.textContent = translate("licenseAgreement");
                            errorMessageElement.style.display = "block";
                            return; // Отменяем отправку формы
                        }

                        // Если все проверки пройдены, отправляем форму
                        this.submit();
                    })
                    .catch(error => {
                        console.error('Ошибка при проверке email:', error);
                        errorMessageElement.textContent = translate("errorOccurred");
                        errorMessageElement.style.display = "block";
                    });
            })
            .catch(error => {
                console.error('Ошибка при проверке имени пользователя:', error);
                errorMessageElement.textContent = translate("errorOccurred");
                errorMessageElement.style.display = "block";
            });
    }

    // Функция для показа/скрытия пароля
    const togglePassword = document.getElementById("togglePassword");
    const passwordField = document.getElementById("id_password");
    const confirmPasswordField = document.getElementById("id_confirm_password");

    togglePassword.onclick = function () {
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
        passwordField.setAttribute("type", type);
        confirmPasswordField.setAttribute("type", type); // Меняем тип и для поля подтверждения
        this.textContent = type === "password" ? translate("showPassword") : translate("hidePassword"); // Меняем текст
    }


</script>
</body>
</html>