<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
</head>
<body>
<div class="container">
    <header>
        <h1>Регистрация</h1>
    </header>

    <main>
        <form id="registrationForm" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}  <!-- Отображение формы -->
            <button type="submit" class="large-button">Зарегистрироваться</button>
        </form>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
</div>

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
